<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>ESP Fingerprint Unlock</h1>
  <h2>Unlock Locks using your mobile fingerprint reader</h2>
  <p>
    App is written in angular using <a (click)="openUrl('https://ionicframework.com/')">Ionic</a>. <br>
    Currently using <a (click)="openUrl('https://blynk.io/')">Blynk</a> server for communication.
  </p>
  <h3>App By: <a (click)="openUrl('http://b45i.me/')">B45i</a></h3>
  <h1><a (click)="openUrl('https://github.com/B45i')"><ion-icon name="logo-github" size="large"></ion-icon></a></h1>
</ion-content>